
		<ion-view cache-view="false">
			<ion-header-bar>
				<div class="buttons shop_header">
					<a class="button icon ion-ios-arrow-left" href="javascript:history.back()"></a>
					<h1 >我的购物车</h1>
					<a class="icon ion-home" href="#/app/home"></a>
				</div>
			</ion-header-bar>
			<ion-content>
				<div class="con">
					<ion-list>
						<ion-item ng-repeat="item in Myprolist"ng-model="Myprolist">
							<ion-checkbox ng-model="item.checked" ng-click="check(item.checked)" name="checkAll"></ion-checkbox>
							<a href="#/pro_details"><img src="{{item.img}}"></a>
							<h1><a href="#/pro_details">{{item.title}}</a></h1>
							<p>
								<i>{{item.price |currency:"￥"}}</i>
								<span ng-click="miuns($index)">-</span>
								<span><input type="text"  maxlength="2" ng-model="inputVal[$index]" ng-blur="blurText($index)"></span>
								<span ng-click="add($index,$event)">+</span>
							</p>
						</ion-item>
					</ion-list>
				</div>
				<div class="all_pri">
					<p>总价：<span>{{initVal.total | currency:"￥" }}</span></p>
				</div>
				<div class="opr" >
					<ion-checkbox ng-model="checkAll" ng-click="checkedAll(checkAll)" name="items">
						<span>全选</span>
					</ion-checkbox>
					<a href="javascript:;" class="bill" ng-click="goCom()">结算商品</a>
					<a href="javascript:;" class="del" ng-click="del()">删除商品</a>
				</div>
				<div class="youLike row">
					<span class="col col-40"><i></i></span>
					<span class="col col-20">猜你喜欢</span>
					<span class="col col-40"><i></i></span>
				</div>
				<ul class=" like_pic" >
					<li ng-repeat="item in likePic |limitTo:4">
						<a href="#/pro_details"><img src="{{item.picSrc}}"></a>
					</li>
				</ul>
			</ion-content>
		</ion-view>
