<!--<ion-nav-view></ion-nav-view>-->
		<ion-tabs class="tabs-bottom tabs-icon-top">
			<ion-tab title="首页" icon-on="ion-home" icon-off="ion-home"  href="#/app/home">
				<ion-nav-view name="tab-home"></ion-nav-view>
			</ion-tab>
			<ion-tab title="分类" icon-on="ion-android-menu" icon-off="ion-android-menu" href="#/app/pro_categories">
				<ion-nav-view name="tab-sor"></ion-nav-view>
			</ion-tab>
			<ion-tab title="购物车" icon-on="ion-android-cart" icon-off="ion-android-cart"  href="#/app/shopcart">
				<ion-nav-view name="tab-shop"></ion-nav-view>
			</ion-tab>
			<ion-tab title="个人中心" icon-on="ion-android-person" icon-off="ion-android-person" href="#/app/user">
				<ion-nav-view name="tab-use"></ion-nav-view>
			</ion-tab>
		</ion-tabs>
